.collage{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.collage__grid{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}


.collage__grid-image{
    width: 100%;
}

@media screen and (max-width: 768px) {
  .collage__grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      padding-left: 5%;
      padding-right: 5%;
  }
}

@media screen and (max-width: 320px) {
  .collage__grid {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(8, 1fr);
  }
}
